<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ผู้ซื้อ %>
    <%= f.text_field :purchaser_id %>
  </div>
  
  <div class="field">
    <%= f.label :รายการสินค้า %>
    <%= f.label :quantity %>
    <%= f.label :price %>
    <%= f.label :pv %>
  </div>
  
  <div class="field", id="productlist">
    <div class="field" id="row_1">
      <%= select_tag "products_1", options_from_collection_for_select(@products, "id", "name"), prompt: "กรูณาเลือกสินค้า" %>
      <%= number_field_tag :quantity_1 %>
      <%= number_field_tag :price_1 %>
      <%= number_field_tag :pv_1 %>
    </div>
  </div>
  <%= button_tag "new", :type => "button", :onclick => "javascript:addRowOrder()" %>

  <div class="field">
    <%= f.label :total_price %>
    <%= f.text_field :total_price, :value => "0", :type => "number" %>
  </div>

  <div class="field">
    <%= f.label :total_pv %>
    <%= f.text_field :total_pv, :value => "0", :type => "number" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
